<template>
  <div>
    <h1>{{ msg }}</h1>
    <i-button @click="show">Clica aqui!</i-button>
    <Modal v-model="visible" title="Bem vindo">Bem vindo ao iView em pt-BR</Modal>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      visible: false
    }
  },
  methods: {
            show: function () {
                this.visible = true;
            }
        }
  }
</script>