<template>
  <div id="app" class="layout">
        <Layout>
            <Header>
                <Menu mode="horizontal" theme="dark" active-name="1">
                    <div class="layout-logo"><h1>Easy Pick-Up</h1></div>
                    <div class="layout-nav">
                        <MenuItem name="1">
                            <router-link to="/">
                                <Button>Home</Button>
                            </router-link>
                        </MenuItem>
                        <MenuItem name="2">
                         <router-link to="/login">
                                <Button>Login</Button>
                            </router-link>
                            
                        </MenuItem>
                    </div>
                </Menu>
            </Header>
            <Layout>
                <Sider hide-trigger :style="{background: '#fff'}">
                    <Menu active-name="1-2" theme="light" width="auto" :open-names="['1']">
                        <Submenu name="1">
                            <template slot="title">
                                <Icon type="ios-navigate"></Icon>
                                Item 1
                            </template>
                            <router-link to="/">
                                <MenuItem name="1-1">Home</MenuItem>
                            </router-link>
                            <router-link to="/medium">
                                <MenuItem name="1-2">Login</MenuItem>
                            </router-link>
                            <MenuItem name="1-3">Option 3</MenuItem>
                        </Submenu>
                        <Submenu name="2">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>
                                Turmas
                            </template>
                            <MenuItem name="2-1">Vizualizar todas</MenuItem>
                            <MenuItem name="2-2">Inserir nova</MenuItem>
                        </Submenu>
                        <Submenu name="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                Alunos
                            </template>
                            <MenuItem name="3-1">Ver Todos</MenuItem>
                            <MenuItem name="3-2">Inserir Novo</MenuItem>
                        </Submenu>
                        <Submenu name="4">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                Responsáveis
                            </template>
                            <MenuItem name="4-1">Ver Todos</MenuItem>
                            <MenuItem name="4-2">Inserir Novo</MenuItem>
                        </Submenu>
                        <Submenu name="5">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                Professores
                            </template>
                            <MenuItem name="5-1">Ver Todos</MenuItem>
                            <MenuItem name="5-2">Inserir Novo</MenuItem>
                        </Submenu>
                        <Submenu name="6">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                Autorizados
                            </template>
                            <MenuItem name="6-1">Ver Todos</MenuItem>
                            <MenuItem name="6-2">Inserir Novo</MenuItem>
                        </Submenu>
                        <Submenu name="7">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>
                                Registros
                            </template>
                            <MenuItem name="7-1">Ver Todos</MenuItem>
                            <MenuItem name="7-2">Iniciar Novo Registro</MenuItem>
                        </Submenu>
                    </Menu>
                </Sider>
                <Layout :style="{padding: '24px'}">
                   
                    <Content :style="{padding: '24px', minHeight: '280px', background: '#fff'}">
                        <router-view></router-view>
                    </Content>
                </Layout>
            </Layout>
        </Layout>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style scoped>
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-logo{
    width: 200px;
    color: #fff;
    border-radius: 3px;
    float: left;
    position: relative;
    
    left: 20px;
}
.layout-nav{
    width: 420px;
    margin: 0 auto;
    margin-right: 20px;
}
</style>